@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  will-change: transform;
}

/*новый фон сделан в фотошопе*/
body {
  margin: 0;
  background: url(https://sun9-57.userapi.com/impg/mweeKTIn2mVRqxjNITr3nz7W3q5XxhYC3mBKnQ/OnB08QHXULE.jpg?size=1004x547&quality=96&sign=71e5215a8e187a4173e6a67e30dd4aac&type=album)no-repeat fixed;-webkit-background-size:cover;background-size: cover;
}
