/* Modal window */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.exit {
    align-self: end;
}

.modal__dialog {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 870px;
    position: relative;
}

.modal__main {
    flex: 1 1 auto;
}

/* Chat window */

.chat {
    display: flex;
    background-color: white;
    box-shadow: 0 0 32px rgba(0, 1, 3, 0.15);
}

/* Chatbox */

.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 530px;
    table-layout: fixed;
    box-sizing: border-box;
    width: 100%;
    padding: 0 26px;
    position: relative;
}

.chatbox__row {
    display: block;
}

.chatbox__row_fullheight {
    flex: 1;
    overflow-y: auto;
}

.chatbox__content {
    height: 100%;
}


/* message block */

.message__head {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    width: 100%;
    justify-content: space-between;
    padding: 11px 8px 8px 48px;
}

.message__note {
    opacity: 0.5;
    color: #5b6171;
    font-size: 12px;
}

.message__base {
    display: flex;
    align-items: center;

}

.message__textbox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 100%;
    min-height: 43px;
    background-color: #f5f6fa;
    border-radius: 9px;
    padding: 11px 25px 12px 25px;
    color: #6a6d77;
}

/* enter block */

.enter {
    position: relative;
    padding-top: 12px;
    padding-bottom: 14px;
}

.enter:before {
    background-color: #edeef1;
    height: 2px;
    width: 100%;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
}

.enter__textarea {
    padding-right: 50px;
}

.enter__textarea textarea:focus {
    outline: none;
}

.enter__textarea textarea {
    width: 100%;
    border: none;
    resize: none;
}
