.blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 100px;
}

.upper,
.lower {
    display: flex;
    width: 100%; 
}

.exercise-icons {
    display: flex;
    flex-direction: column;
}

span {
    margin: 5px;
    padding: 8px;
    border: 1px solid #5ca9e0;
    border-radius: 5px;
}
.barbell,.elliptical,.treadmill,.treadmill2{
    border: 1px solid #ccc;
    border-radius: 5px; 
}
.barbell {
    background-color: #5ca9e0;
}

.elliptical {
    background-color:#5ca9e0;
}

.treadmill {
    background-color: #5ca9e0;
}

.treadmill2 {
    background-color: #5ca9e0;
}
/*Rate.tsx*/
.work {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    background-color:#5ca9e0;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.score {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

